@model List<Employee>
@{
    ViewData["Title"] = "主管所屬員工查詢";
}
<main class="container">
  <p>主管員工編號：</p>
  <form class="input-group mb-3">
    <input
      type="text"
      name="ReportsTo"
      class="form-control"
      placeholder="請輸入主管員工編號"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
      查詢
    </button>
  </form>
  <p>所屬員工：</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">主管員工編號</th>
        <th scope="col">員工姓名</th>
        <th scope="col">員工編號</th>
      </tr>
    </thead>
    <tbody>
        @foreach(var e in Model){
                <tr>
                    <td scope="col">@e.ReportsTo</td>
                    <td scope="col">
                        @e.FirstName @e.LastName
                        </td>
                    <td scope="col">@e.EmployeeId</td>
                </tr>
        }
    </tbody>
  </table>
</main>
